:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#main-container{
  height: 100vh;
  width: 100vw;
}

.chart-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full viewport width */
}
.chart-item {
  flex: 0 0 auto;
  height: 100vh; /* Full viewport height for each chart */
  width: 100%; /* Full width */
}

.highlight {
  background-color: yellow; /* Highlight color */
  font-weight: bold; /* Optional: Make the text bold */
  transition: background-color 0.3s ease-out; /* Smooth transition for fade-out */
}

.highlight-cell {
  stroke: red;
  stroke-width: 2px;
  transition: stroke 0.5s ease, stroke-width 0.5s ease;
}

.rank-item {
  transition: text-decoration 0.2s ease-in-out; /* Smooth transition for underline */
}

.rank-item:hover {
  text-decoration: underline;
}